In [1]:
import numpy as np
import pandas as pd

In [47]:
list1 = [102,45,47,49,50,35,109]
list2 = [25,26,24,49,50,35,105]

dataset1 = [11,10,12,14,12,15,14,13,15,102,12,14,17,19,107, 10,13,12,14,12,108,12,11,14,13,15,10,15,12,10,14,13,15,10]

In [3]:
df = pd.DataFrame({'col1':list1,'col2':list2})

In [4]:
df

   col1  col2
0   102    25
1    45    26
2    47    24
3    49    49
4    50    50
5    35    35
6   109   105

In [51]:
outliers = []
def detect_outliers(data):

    threshold = 2
    
    m = np.mean(data)
    s = np.std(data)
    
    for i in data:
        z_score = (i-m)/s
        if np.abs(z_score) > threshold:
            outliers.append(i)
    return outliers

In [52]:
detect_outliers(df['col1'])

[]

In [27]:
mylist=[]
def detect_outliers(data):
    
    threshold=3
    mean = np.mean(data)
    std =np.std(data)
    
    
    for i in data:
        z_score = (i - mean)/std 
        if np.abs(z_score) > threshold:
            print(i)
            mylist.append(i)
    return mylist

In [28]:
detect_outliers(list1)

[]

In [29]:
dataset= [11,10,12,14,12,15,14,13,15,102,12,14,17,19,107, 10,13,12,14,12,108,12,11,14,13,15,10,15,12,10,14,13,15,10]

In [68]:
outliers=[]
def detect_outliers(data):
    
    uth=60
    lth=30   
    
    for i in data:
        if (i < lth) | (i > uth):
            outliers.append(i)
    return outliers

In [69]:
outlier_pt=detect_outliers(list1)

In [70]:
outlier_pt

[102, 109]